# Analisis de un Token particular

In [ ]:
# analisis Log ETH 0xe436F5a05D0D132058517B7f68f07c05B88d8820.csv

In [18]:
import pandas as pd

# Especifica el nombre del archivo
filename = '0xe436F5a05D0D132058517B7f68f07c05B88d8820.csv'

# Define el directorio donde se encuentra el archivo
directory = 'processed_csv/'

# Construye la ruta cFompleta al archivo
file_path = directory + filename

# Lee el archivo CSV en un DataFrame
try:
    df = pd.read_csv(file_path, skiprows=1, encoding='utf-8')
    print("Archivo convertido a DataFrame con éxito.")
except FileNotFoundError:
    print(f"No se encontró el archivo: {file_path}")
except Exception as e:
    print(f"Ocurrió un error al leer el archivo: {e}")

filename_without_extension = filename.split('.')[0]
df['Filename'] = filename_without_extension

Archivo convertido a DataFrame con éxito.

In [19]:
df.head()

,#Time,Reserve ETH,Reserve TOKEN,Filename
0,2024-04-04 08:43:17,4.2540,82.319277,0xe436F5a05D0D132058517B7f68f07c05B88d8820
1,2024-04-04 08:43:28,4.2540,82.319277,0xe436F5a05D0D132058517B7f68f07c05B88d8820
2,2024-04-04 08:43:38,4.2808,81.805453,0xe436F5a05D0D132058517B7f68f07c05B88d8820
3,2024-04-04 08:43:49,4.2808,81.805453,0xe436F5a05D0D132058517B7f68f07c05B88d8820
4,2024-04-04 08:43:59,4.4478,78.742802,0xe436F5a05D0D132058517B7f68f07c05B88d8820

In [21]:
df.rename(columns={'#Time': 'Time', 'Reserve ETH': 'Reserve_ETH', 'Reserve TOKEN': 'Reserve_Token', 'Filename': 'filename'}, inplace=True)
columns = ['filename', 'Time', 'Reserve_ETH', 'Reserve_Token']
df = df[columns]

,filename,Time,Reserve_ETH,Reserve_Token
0,0xe436F5a05D0D132058517B7f68f07c05B88d8820,2024-04-04 08:43:17,4.2540,82.319277
1,0xe436F5a05D0D132058517B7f68f07c05B88d8820,2024-04-04 08:43:28,4.2540,82.319277
2,0xe436F5a05D0D132058517B7f68f07c05B88d8820,2024-04-04 08:43:38,4.2808,81.805453
3,0xe436F5a05D0D132058517B7f68f07c05B88d8820,2024-04-04 08:43:49,4.2808,81.805453
4,0xe436F5a05D0D132058517B7f68f07c05B88d8820,2024-04-04 08:43:59,4.4478,78.742802
5,0xe436F5a05D0D132058517B7f68f07c05B88d8820,2024-04-04 08:44:10,4.4478,78.742802
6,0xe436F5a05D0D132058517B7f68f07c05B88d8820,2024-04-04 08:44:20,4.4478,78.742802
7,0xe436F5a05D0D132058517B7f68f07c05B88d8820,2024-04-04 08:44:30,4.4478,78.742802
8,0xe436F5a05D0D132058517B7f68f07c05B88d8820,2024-04-04 08:44:41,4.4478,78.742802
9,0xe436F5a05D0D132058517B7f68f07c05B88d8820,2024-04-04 08:44:51,4.9277,71.094951
10,0xe436F5a05D0D132058517B7f68f07c05B88d8820,2024-04-04 08:45:02,4.9277,71.094951